<h1>Productos</h1>

<main class="cards">
    {{#each products}}
        <div class="card">
            <p>{{this.title}}</p>
            <p>{{this.description}}</p>
            <p>{{this.price}}</p>
        </div>
    {{/each}}
</div>